body {
    margin: 0;
    background-color: purple;
    font-family: 'Montserrat', sans-serif;
    height: 7000px;
}

a {
    text-decoration: none;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

header {
    padding: 15px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* z-index savybė nurodo elementų atvaizdavimo prioritetą */
    z-index: 2;
}

header .container {
    display: flex;
    justify-content: space-between;
}

header .logo img {
    width: 160px;
}

header nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

header nav ul a {
    color: white;
    opacity: 0.8;
    text-decoration: none;
    padding: 10px 12px;
    display: block;
    font-size: 13px;
    transition: all 300ms ease-in-out;
}

header nav ul a:hover {
    opacity: 1;
}

section.home {
    /* Du taškai nurodo perėjimą viena direktoriją atgal iš folderio kuriame randasi esamas failas */
    background: url('../images/hero-bg-3.jpg');
    height: 660px;
    padding-top: 200px;
    position: relative;
}

section.home::before {
    content: "";
    background: rgb(140,30,199);
    background: linear-gradient(90deg, rgba(140,30,199,1) 37%, rgba(26,65,237,1) 100%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
}

section.home .container {
    position: relative;
    display: flex;
}

section.home .left {
    width: 50%;
    color: white;
}

section.home .right {
    width: 50%;
    position: relative;
}

section.home .left h1 {
    font-size: 46px;
    font-weight: 600;
    margin: 0 0 18px;
}

section.home .left p {
    /* line-height savybė nurodo eilutės aukštį */
    line-height: 32px;
    font-size: 19px;
}

section.home .iphone {
    max-width: 350px;
    width: 100%;
    position: absolute;
    right: 0;
    top: -70px;
}

section.home .iphone img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

section.home .video-wrapper {
    position: absolute;
    top: -10px;
    left: 0;
    padding: 19px;
}

section.home .video-wrapper video {
    width: 100%;
    border-radius: 40px;
} 

.buttons {
    display: flex;
    /* gap savybė sukuria tarpus tarp elementų, išskyrus pirmojo elemento kairės pusės atitraukimą ir paskutinio elemento atstūmimą iš dešinės */
    gap: 18px;
}

.button {
    display: block;
    padding: 14px 20px;
    border: 1px solid white;
    font-weight: 600;
    font-size: 15px;
    color: white;
    /* border-radius savybe užlenkia bloko kampus, taip pat suteikia galimybę suformuoti apskritimą */
    border-radius: 24px;
    transition: all 300ms ease-in-out;
}

.white-button {
    background-color: white;
    color: #7202bb;
}

.white-button:hover {
    background: none;
    color: white;
}

.transparent-button:hover {
    background-color: white;
    color: #7202bb;
}